Repository HA-Team/duit, pull requests merged in 2020-05, with the labels that each got.

#38 Bug home selects placeholders
  css/style.css
  data/propertiesSubTypesFixture.js
  data/propertiesTypes.js
  index.html
  views/home/home.css
  views/home/home.html
  views/home/home.js
Labels: bug

#44 Home: arrow and warning added on placeholders.
  views/home/home.css
  views/home/home.html
  views/home/home.js
Labels: Home, bug

#50 Remove obsolete images from folder /images
  images/agent-01.jpg
  images/agent-02.jpg
  images/agent-03.jpg
  images/agent-04.jpg
  images/agent-avatar.jpg
  images/blog-post-01.jpg
  images/blog-post-01a.jpg
  images/blog-post-02.jpg
  images/blog-post-02a.jpg
  images/blog-post-03.jpg
  images/blog-post-03a.jpg
  images/blog-widget-01.jpg
  images/blog-widget-02.jpg
  images/blog-widget-03.jpg
  images/flip-banner-bg.jpg
  images/happy-client-01.jpg
  images/happy-client-02.jpg
  images/happy-client-03.jpg
  images/home-parallax-2.jpg
  images/home-parallaxOLD.jpg
  images/home-slider-01.jpg
  images/home-slider-02.jpg
  images/home-slider-03.jpg
  images/listing-01.jpg
  images/listing-01b.jpg
  images/listing-01c.jpg
  images/listing-02.jpg
  images/listing-03.jpg
  images/listing-04.jpg
  images/listing-04b.jpg
  images/listing-05.jpg
  images/listing-06.jpg
  images/listings-parallax.jpg
  images/logo-01.png
  images/logo-02.png
  images/logo-03.png
  images/logo-04.png
  images/logo-05.png
  images/logo-06.png
  images/logo-07.png
  images/our-office.jpg
  images/popular-location-01.jpg
  images/popular-location-02.jpg
  images/popular-location-03.jpg
  images/popular-location-04.jpg
  images/single-property-01.jpg
  images/single-property-02.jpg
  images/single-property-03.jpg
  images/single-property-04.jpg
  images/single-property-05.jpg
  images/single-property-06.jpg
Labels: Refactor

#48 Implementar nuevo favicon
  images/android-chrome-192x192.png
  images/android-chrome-512x512.png
  images/apple-touch-icon.png
  images/favicon-16x16.png
  images/favicon-32x32.png
  images/favicon.ico
  images/site.webmanifest
  index.html
Labels: Global

#68 Home: Nueva Vista de Consejeros
  images/consejeros.png
  views/common/common.js
  views/home/home.css
  views/home/home.html
  views/home/home.js
Labels: Home, feature

#65 Buscador Home: Remover Filtro Condición
  css/style.css
  views/home/home.css
  views/home/home.html
  views/home/home.js
Labels: Home

#72 Home: Implementación de nueva vista de contacto.
  views/contact/contact.js
  views/home/home.css
  views/home/home.html
Labels: Home, feature
